<div class="jumbotron">
  <h1>List Task</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br> Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<!-- <div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div> -->

<div class="container" style="background:#eee">
  <div style="margin-top: 15px;">
    <input type="text" ng-model="taskTitle">
    <button class="btn btn-sm" ng-click="addTask(taskTitle)">
          <span class="glyphicon glyphicon-plus pull-left"></span>
    </button>
  </div>
  <ul>
    <li ng-repeat="task in taskList">
      <input type="checkbox" ng-model="task.isCompleted">
      <span ng-class="{done: task.isCompleted}" ng-bind="task.title"></span>
      <a ng-click="deleteTask(task)">
                <span class="glyphicon glyphicon-trash pull-right"></span>
              </a>
    </li>
  </ul>
</div>


<div class="footer">
  
</div>